<section class='flex flex-col justify-between items-between h-full bg-slate-100 pt-6'>
<p class='font-bold text-green-600 text-2xl self-center mt-8'>Welcome, <%= @user.name %></p>
  <%= image_tag "tranzkt_transparent.png"%>
  <div class='w-full bg-lime-500 p-3 flex justify-center'>
  <%= link_to "Start", categories_path, :class => "rounded-md border border-slate-50 text-xl text-white text-center bg-lime-500 w-3/4 p-1" %>
  </div>
</section>