<section class='flex flex-col justify-around items-between h-full bg-blue-100 pt-6'>
<p class='font-bold text-blue-600 text-2xl self-center mt-8'>Welcome!!</p>
  <%= image_tag "tranzkt_transparent.png" %>
  <div class='w-full p-3 flex flex-col items-center'>
    <%= button_to "Log in", new_user_session_path, method: :get, :class => "font-bold rounded-md border-2 border-slate-50 text-2xl text-white text-center bg-blue-400 p-2 w-60" %>
      <%= button_to "Sign up", new_user_registration_path, method: :get, :class => "font-bold rounded-md border-2 border-slate-50 text-2xl text-white text-center bg-blue-400 p-2 w-60" %>
  </div>
</section>