<section class='flex flex-col justify-between items-between h-full bg-blue-100 pt-6'>
<p class='font-bold text-blue-600 text-2xl self-center mt-8'>Welcome, <%= @user.name %>!!</p>
  <%= image_tag "tranzkt_transparent.png"%>
  <div class='w-full bg-blue-400 p-3 flex justify-center'>
  <%= link_to "Start", categories_path, :class => "font-bold rounded-md border-2 border-slate-50 text-2xl text-white text-center bg-blue-400 w-3/4 p-1" %>
  </div>
</section>