<section class='flex flex-col justify-center gap-4 items-center h-full bg-blue-100'>
  <h1 class='text-blue-400 text-xl font-bold'>New Category</h1>
  <div>
    <%= render "form", category: @category %>
  </div>
</section>
