<div id="<%= dom_id transaction %>" class="flex flex-1 justify-between px-3">
  
  <p class='text-base font-bold text-blue-400'>
    <%= transaction.name %>
  </p>

  <p class='font-bold'>
    $
    <%= transaction.amount %>
  </p>
</div>
