<section class='flex flex-col justify-start gap-4 items-center h-full bg-blue-100'>

<h1 class='text-white text-xl font-bold p-4 bg-blue-800 w-full text-center'>New transaction</h1>

<%= render "form", transaction: @transaction %>

</section>
