<div class="absolute bottom-12 right-2 h-16 w-56">
<% if notice %>
  <p class="bg-lime-500 text-slate-50 font-bold p-2 rounded-md text-center"><%= notice %></p>
<% elsif alert %>
  <p class="bg-red-500 text-slate-50 font-bold p-2 rounded-md text-center"><%= alert %></p>
<% end %>
</div>