<section class='fixed top-4 flex justify-between  items-center w-full px-3'>
   <% if signed_in? %>
      
        <% if controller_name == 'categories' && action_name == 'index' %>
           <p></p>
           <%= link_to image_tag("logout.png",:class => "w-6 h-6" ), destroy_user_session_path, data: { "turbo-method":
        :delete } %>
        <% elsif controller_name == 'users' && action_name == 'show'%>
          <p></p>
           <%= link_to image_tag("logout.png",:class => "w-6 h-6" ), destroy_user_session_path, data: { "turbo-method":
           :delete } %>
       <% else %>
        <%= link_to image_tag("back1.png",:class => "w-6 h-6" ), categories_path %>
      <%= link_to image_tag("logout.png",:class => "w-6 h-6" ), destroy_user_session_path, data: { "turbo-method":
        :delete } %>
   <% end %>
    <% end %>        
</section>